[submodule "IRC-C"]
	path = IRC-C
	url = https://github.com/Paulalex85/IRC-C
[submodule "TinygramGCP"]
	path = TinygramGCP
	url = https://github.com/Paulalex85/TinygramGCP
[submodule "Algo-AABRR"]
	path = Algo-AABRR
	url = https://github.com/Paulalex85/Algo-AABRR
[submodule "app-suivi-alimentaire"]
	path = app-suivi-alimentaire
	url = https://github.com/AnasseZ/app-suivi-alimentaire
[submodule "BattleMiage"]
	path = BattleMiage
	url = https://github.com/Paulalex85/BattleMiage
